body{
    background-color: aquamarine;
    font-family: 'Times New Roman', Times, serif;
}

section{
    padding: 20px;
    margin: 20px;
}

main{
    width: 50%;
    margin: 0 auto;
}

button{
    background-color: cornflowerblue;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}